<div class="container">

    <h1> Welcome to BatsWorld</h1>

<p> welcome here {{name}}. welcome works to be Batman!

    
    you can manage your todos <a routerLink='/todo'>here</a>


</p>
<p> 
    click here to get customized welcome message
    <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
</p>


</div>

<div class="container" *ngIf="this. messageFromServiceVal" >
    <h2>
        your customized message here

    </h2>
    {{ messageFromService}}

</div>
<div class="container" *ngIf="this. messageFromServiceErrorVal" >
    <h2>
        your customized message here

    </h2>
    {{ messageFromService}}

</div>
<!-- (click)="getWelcomeMessage()" -->