<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
        <div> <a href="https://www.yasiruPadmasiri.com" class="navbar-brand"> yasiruPadmasiri</a></div>
    <ul class="navbar-nav">
        <li><a href='/welcome/yasiruPadmasiri'class='nav-link'> Home</a></li>
        <li><a href=' /todo'class='nav-link'>Todos</a></li>
        
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a href='/login'class='nav-link'> Loging</a></li>
        <li><a href='/logout'class='nav-link'>Logout</a></li>
        
    </ul>
    </nav>
</header>





